{# head.html #}
{% set description = 'A demo of how to use gulp-twig' %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ description }}" />
<meta name="author" content="xSpidey" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ titlePage }}</title>

<!-- CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="assets/libraries/swiper-4.4.0/css/swiper.min.css">
<link rel="stylesheet" href="assets/libraries/photoswipe-4.1.2/photoswipe.css">
<link rel="stylesheet" href="assets/css/style.min.css">

<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
